body {
  margin: 0;
  padding: 0;
  border: 0;
}

main {
  margin: 0 auto;
  background-color: lightgray;
  width: 60%;
  height: 700px;
}

#articlecontainer {
  background-color: aliceblue;
  margin: 20px;
}

nav {
  display: inline-block;
}

nav ul {
  display: flex;
  gap: 30px;
  float: right;
}

header {
  margin: 0 auto;

  margin-top: 20px;
  width: 60%;
}

#logo {
  width: 30em;
}
