html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  scroll-behavior: smooth;
}

p {
  max-width: 60rem;
}

header {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url("img/val-4.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

header div {
  background: rgba(0, 0, 0, 0);
  color: #fff;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

header div h1 {
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px #000000;
  Font-Family: 'Cabin', Sans-Serif;
  max-width: 20rem;

}

header div p {
  font-size: 1.2rem;
}

header div:last-child {
  margin-bottom: 20vh;
}

#titlebox0 {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  Font-Family: 'Cabin', Sans-Serif;

}

#titlebox0 div {
  background: rgba(0, 0, 0, 0);
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;

}
#titlebox0 div h1 {
  font-size: 2rem;

}



#titlebox {
  width: 100%;
  min-height: 100vh;
  background-image: url("img/val-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}
#titleboxvideo {
  width: 100%;
  min-height: 100vh;
  
  overflow: hidden;
}

#myVideo {
  right: 0;
  bottom: 0;
  Width: 100%
}

#titlebox2 {
  width: 100%;
  min-height: 100vh;
  background-image: url("img/val-1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

#titlebox3 {
  width: 100%;
  min-height: 100vh;
  background-image: url("img/val-5.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

#titlebox4 {
  width: 100%;
  min-height: 100vh;
  background-image: url("img/val-6.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

#titlebox5 {
  width: 100%;
  min-height: 100vh;
  background-image: url("img/val-3.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

#textbox {
  background-color: white;
  padding: 2rem;
  max-width: 30rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

h1{
  max-width: 50rem;
}
/* MEDIA QUERIES MOBILE FIRST */
@media (min-width: 600px) {
 
}
